POSTGRES_PASSWORD=generate-a-random-password
RHO_ACCESS_TOKEN=generate-at-least-32-random-characters
RHO_BIND_IP=100.80.0.189
LITELLM_BASE_URL=https://litellm.sh.corgi.plus/v1
LITELLM_MODEL=prod-max-1m
LITELLM_API_KEY=
